<div id = "carrito-compra">
  <%= @carro.as_json %>
  <% @carro.linea_facturas.each do |linea_factura|%>
    <li>Precio linea: <%= linea_factura.precio_linea %> </li>
    <%= linea_factura.unidades %>

  <% end %>

</div>
